/* Error: "+" and "-" must be surrounded by whitespace in calculations.
 *    ,
 * 26 |             translate: calc(100vw+100%) 0;
 *    |                                  ^
 *    '
 *   scss\sections\_feature.scss 26:34  @use
 *   scss\style.scss 10:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "+" and "-" must be surrounded by whitespace in calculations.\a    \2577 \a 26 \2502              translate: calc(100vw+100%) 0;\d\a    \2502                                   ^\a    \2575 \a   scss\\sections\\_feature.scss 26:34  @use\a   scss\\style.scss 10:1               root stylesheet';
}
